/native-host/target/
/dist/
/native-host/com.ytdlp_right_click.native_host.json
/native-host/com.felix.ytdlp_right_click.json
/8a9aa41f-3f30-4129-acb1-1d4cfd3cb41d.png
/yt_dlp_clicker_extension_icon.ico
/yt_dlp_clicker_extension_icon.svg
